/*Módulo de variables para sitio e-commerce*/
/*Variables*/
$bgHeader: #333;
$generalText: #000000;
$whiteText: #fff;
$bgLight: #efefef;
$generalBorder: #333;
$bgButton: #0066ff;
$cartShadow: -19px -1px 22px -5px rgba(0, 0, 0, 0.30);
$bgDisabled: #9b9b9b;
$generalFont: "Lexend", Arial, Helvetica, sans-serif;
$marginBase: 10px 10px;
$marginBox: border-box;
$generalWeight: 600;
$bgButtonBlack: #000;